In [ ]:
pip install xgboost
pip install sklearn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Travel=pd.read_csv('전국관광지데이터.csv',  low_memory=False)

In [5]:
Travel.head()

,id,lclas,mlsfc,id_poi,poi_nm,branch_nm,sub_nm,mcate_cd,mcate_nm,pnu,...,rd_cd,rd_nm,bld_num,x,y,grid_cd,lst_updt_dt,data_orgn,FILE_NAME,base_ymd
0,KC495PP19N000001,장소,관광지,10000098,호국전진사,NaN,NaN,180302,지역사찰,4.148035e+18,...,4.148030e+11,혜음로,1505,126.848317,37.815154,다사426796,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231
1,KC495PP19N000002,장소,관광지,10000162,상주옹기판매장,NaN,NaN,91802,토속/특산물/기념품매장,4.725046e+18,...,4.725047e+11,공검이안길,963-6,128.157549,36.558256,라바588402,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231
2,KC495PP19N000003,장소,관광지,10000211,추월산관광지,NaN,NaN,60513,일반관광지,4.671038e+18,...,NaN,NaN,NaN,126.997724,35.401730,다마543118,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231
3,KC495PP19N000004,장소,관광지,10000381,쇄기농장,NaN,NaN,91802,토속/특산물/기념품매장,5.013025e+18,...,5.013034e+11,태수로,599-27,126.714161,33.328633,다나268821,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231
4,KC495PP19N000005,장소,관광지,10206030,보타사,NaN,NaN,180302,지역사찰,4.211013e+18,...,4.211032e+11,옛경춘로,387-24,127.699171,37.846754,라사175830,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231

In [6]:
Travel.describe(include='O') # 범주형만 보여줌

,id,lclas,mlsfc,id_poi,poi_nm,branch_nm,mcate_nm,sido_nm,sgg_nm,bemd_nm,ri_nm,beonji,rd_nm,bld_num,grid_cd,data_orgn,FILE_NAME
count,37213,37213,37213,37213,37213,502,37213,37213,37054,37213,26196,36504,19473,19473,37085,37213,37213
unique,37213,1,1,37206,25995,421,23,17,227,3299,5318,12864,12084,6816,35148,1,1
top,KC495PP19N000001,장소,관광지,20942153,소류지,2구간,지역호수/저수지,경상남도,중구,남면,읍내리,산1-1,중앙로,1,다사610460,KT,KC_495_LLR_ATRCTN_2020
freq,1,37213,37213,2,249,8,12670,5503,644,216,89,90,87,129,20,37213,37213

In [11]:
Travel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37213 entries, 0 to 37212
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           37213 non-null  object
 1   lclas        37213 non-null  object
 2   mlsfc        37213 non-null  object
 3   id_poi       37213 non-null  object
 4   poi_nm       37213 non-null  object
 5   branch_nm    502 non-null    object
 6   sub_nm       0 non-null      float64
 7   mcate_cd     37213 non-null  int64
 8   mcate_nm     37213 non-null  object
 9   pnu          36504 non-null  float64
 10  sido_nm      37213 non-null  object
 11  sgg_nm       37054 non-null  object
 12  bemd_nm      37213 non-null  object
 13  ri_nm        26196 non-null  object
 14  beonji       36504 non-null  object
 15  badm_cd      37213 non-null  int64
 16  hadm_cd      37213 non-null  int64
 17  rd_cd        19473 non-null  float64
 18  rd_nm        19473 non-null  object
 19  bld_num      19473 non-null  object
 20  x            37213 non-null  float64
 21  y            37213 non-null  float64
 22  grid_cd      37085 non-null  object
 23  lst_updt_dt  37213 non-null  int64
 24  data_orgn    37213 non-null  object
 25  FILE_NAME    37213 non-null  object
 26  base_ymd     37213 non-null  int64
dtypes: float64(5), int64(5), object(17)
memory usage: 7.7+ MB

In [7]:
Travel.columns

Index(['id', 'lclas', 'mlsfc', 'id_poi', 'poi_nm', 'branch_nm', 'sub_nm',
       'mcate_cd', 'mcate_nm', 'pnu', 'sido_nm', 'sgg_nm', 'bemd_nm', 'ri_nm',
       'beonji', 'badm_cd', 'hadm_cd', 'rd_cd', 'rd_nm', 'bld_num', 'x', 'y',
       'grid_cd', 'lst_updt_dt', 'data_orgn', 'FILE_NAME', 'base_ymd'],
      dtype='object')

In [10]:
print(Travel.isnull().sum())

id                 0
lclas              0
mlsfc              0
id_poi             0
poi_nm             0
branch_nm      36711
sub_nm         37213
mcate_cd           0
mcate_nm           0
pnu              709
sido_nm            0
sgg_nm           159
bemd_nm            0
ri_nm          11017
beonji           709
badm_cd            0
hadm_cd            0
rd_cd          17740
rd_nm          17740
bld_num        17740
x                  0
y                  0
grid_cd          128
lst_updt_dt        0
data_orgn          0
FILE_NAME          0
base_ymd           0
dtype: int64

In [8]:
print(Travel.isnull().sum().to_string())

id                 0
lclas              0
mlsfc              0
id_poi             0
poi_nm             0
branch_nm      36711
sub_nm         37213
mcate_cd           0
mcate_nm           0
pnu              709
sido_nm            0
sgg_nm           159
bemd_nm            0
ri_nm          11017
beonji           709
badm_cd            0
hadm_cd            0
rd_cd          17740
rd_nm          17740
bld_num        17740
x                  0
y                  0
grid_cd          128
lst_updt_dt        0
data_orgn          0
FILE_NAME          0
base_ymd           0

In [20]:
from xgboost import XGBRegressor, plot_importance
from sklearn.metrics import mean_squared_error
import math
from sklearn.model_selection import cross_val_score
import xgboost