In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
review_data = pd.read_csv('최종review.csv',encoding='cp949')

In [6]:
tour_data1 = pd.read_csv('최종tour.csv',encoding='cp949')

c:\users\night\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3427: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
tour_data2 = pd.read_csv('최종전처리_광훈.csv')

In [8]:
type_data = pd.read_csv('최종분류.csv')

In [30]:
review_data

,Spot_pk,ItemID,UserID,Rating,review,Timestamp
0,1,호국전진사,15lk2ck,4,NaN,2020.01.21.
1,3,용마루길,g6kl0d,5,NaN,2021.08.10.
2,3,용마루길,e9e5k4,3,NaN,2019.02.22.
3,6,불승사,11c27np,5,NaN,2021.04.16.
4,10,태현사,ma79f8,5,조용하고 잔잔해서 강아지 산책할 때마다 종종 들립니다,2021.05.16.
...,...,...,...,...,...,...
155971,62512,게으른악어,uh3jcv,4,라면을 직접 끓여 먹을 수 있더라고요. 신박하긴 한데 사람이 넘 많았음. 바움 디저...,2021.02.16.
155972,62512,게으른악어,vb1990,4,사람이 없어서 호젓하고 조용해서 좋았어요. 사람이 많다면 별로일듯.. 뷰도 좋고 커...,2020.12.28.
155973,62512,게으른악어,n51lqr,3,시설투자안하시는듯 .. 주위 자연은 좋지만 음료 비싸고 사람많은거에 비해 화장실작은...,2020.07.12.
155974,62512,게으른악어,18hc6db,5,NaN,2020.06.28.
155975,62512,게으른악어,g9bmec,4,"강아지 동반할 경우 별관이나 야외만 출입가능한데, 앉을 만 합니다. 다만 주말이라 ...",2020.05.03.

In [31]:
tour_data1

,id,lclas,mlsfc,id_poi,poi_nm,branch_nm,sub_nm,mcate_cd,mcate_nm,pnu,...,x,y,grid_cd,lst_updt_dt,data_orgn,FILE_NAME,base_ymd,address,code,Spot_pk
0,KC495PP19N000001,장소,관광지,10000098,호국전진사,NaN,NaN,180302,지역사찰,4.150000e+18,...,126.848317,37.815154,다사426796,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,경기도 파주시 광탄면 방축리 386-54,31200,1
1,KC495PP19N000002,장소,관광지,10000162,상주옹기판매장,NaN,NaN,91802,토속/특산물/기념품매장,4.730000e+18,...,128.157549,36.558256,라바588402,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,경상북도 상주시 이안면 소암리 39,37080,2
2,KC495PP19N000003,장소,관광지,10000211,추월산관광지,NaN,NaN,60513,일반관광지,4.670000e+18,...,126.997724,35.401730,다마543118,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,전라남도 담양군 용면 월계리 산89-1,36310,3
3,KC495PP19N000004,장소,관광지,10000381,쇄기농장,NaN,NaN,91802,토속/특산물/기념품매장,5.010000e+18,...,126.714161,33.328633,다나268821,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,제주특별자치도 서귀포시 남원읍 수망리 277-1,39020,4
4,KC495PP19N000005,장소,관광지,10206030,보타사,NaN,NaN,180302,지역사찰,4.210000e+18,...,127.699171,37.846754,라사175830,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,강원도 춘천시 칠전동 647-1,32010,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37208,KC495PP19N037209,장소,관광지,17507693,안성팜랜드초원눈썰매장,NaN,NaN,60523,지역축제,4.160000e+18,...,127.193278,36.992127,다바727882,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,경기도 안성시 공도읍 신두리 451,31220,37209
37209,KC495PP19N037210,장소,관광지,21050671,내장산단풍겨울빛축제,NaN,NaN,60523,지역축제,4.580000e+18,...,126.890875,35.478836,다마447205,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,전라북도 순창군 복흥면 화양리 산1-9,35360,37210
37210,KC495PP19N037211,장소,관광지,20935225,오대산선재길,NaN,NaN,60513,일반관광지,4.280000e+18,...,128.588320,37.736008,라사958712,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,강원도 평창군 진부면 동산리 산1-3,32340,37211
37211,KC495PP19N037212,장소,관광지,21085804,덕유산국립공원시인의거리,NaN,NaN,60517,먹거리/패션거리,4.570000e+18,...,127.738257,35.845526,라마215610,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,전라북도 무주군 안성면 공정리 산6,35330,37212
37212,KC495PP19N037213,장소,관광지,20942153,의왕자연학습공원의왕레일파크,NaN,NaN,60507,테마공원/대형놀이공원,4.140000e+18,...,126.950798,37.309591,다사513235,20201231,KT,KC_495_LLR_ATRCTN_2020,20201231,경기도 의왕시 월암동 543-3,31170,37213

In [71]:
tour_data1_ch = pd.DataFrame()

In [72]:
tour_data1_ch['Spot_pk'] = tour_data1['Spot_pk']
tour_data1_ch['contenttypeid'] = tour_data1['mlsfc']
tour_data1_ch['cat3'] = tour_data1['mcate_nm']
tour_data1_ch['title'] = tour_data1['poi_nm']
tour_data1_ch['code'] = tour_data1['code']

In [73]:
tour_data1_ch

       Spot_pk contenttypeid          cat3           title   code
0            1           관광지          지역사찰           호국전진사  31200
1            2           관광지  토속/특산물/기념품매장         상주옹기판매장  37080
2            3           관광지         일반관광지          추월산관광지  36310
3            4           관광지  토속/특산물/기념품매장            쇄기농장  39020
4            5           관광지          지역사찰             보타사  32010
...        ...           ...           ...             ...    ...
37208    37209           관광지          지역축제     안성팜랜드초원눈썰매장  31220
37209    37210           관광지          지역축제      내장산단풍겨울빛축제  35360
37210    37211           관광지         일반관광지          오대산선재길  32340
37211    37212           관광지      먹거리/패션거리    덕유산국립공원시인의거리  35330
37212    37213           관광지   테마공원/대형놀이공원  의왕자연학습공원의왕레일파크  31170

[37213 rows x 5 columns]

In [74]:
# tour_data1_ch['cat3'] == '관광지' # 12로
# # 문화 -14 , 축제/공연/행사- 15 ,

In [69]:
tour_data1_ch.loc[tour_data1_ch['cat3'] == '관광농원/허브마을', 'cat3'] = '관광농원'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '대형호수/저수지', 'cat3'] = '호수'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '동물원', 'cat3'] = '유원지'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '먹거리/패션거리', 'cat3'] = '기타행사'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '서원/향교/서당', 'cat3'] = '전통체험'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '세븐럭카지노', 'cat3'] = '카지노'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '숲', 'cat3'] = '자연휴양림'
# tour_data1_ch.loc[tour_data1_ch['cat3'] == '아쿠아리움/대형수족관', 'cat3'] = '???
# tour_data1_ch.loc[tour_data1_ch['cat3'] == '유명관광지', 'cat3'] = '???
tour_data1_ch.loc[tour_data1_ch['cat3'] == '유명사찰', 'cat3'] = '사찰'
# tour_data1_ch.loc[tour_data1_ch['cat3'] == '일반관광지', 'cat3'] = '???'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '일반유원지/일반놀이공원', 'cat3'] = '유원지'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '지역사찰', 'cat3'] = '사찰'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '지역축제', 'cat3'] = '문화관광축제'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '지역호수/저수지', 'cat3'] = '호수'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '테마공원/대형놀이공원', 'cat3'] = '유원지'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '토속/특산물/기념품매장', 'cat3'] = '특산물판매점'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '파라다이스카지노', 'cat3'] = '카지노'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '폭포/계곡', 'cat3'] = '계곡'
tour_data1_ch.loc[tour_data1_ch['cat3'] == '휴양림/수목원', 'cat3'] = '자연휴양림'

In [57]:
# tour_data1_ch[(tour_data1_ch['cat3'] == '관광농원/허브마을')] = '관광농원'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '대형호수/저수지')] = '호수'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '동물원')] = '유원지'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '먹거리/패션거리')] = '기타행사'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '서원/향교/서당')] = '전통체험'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '세븐럭카지노')] = '카지노'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '숲')] = '자연휴양림'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '식물원')] = '수목원'   
# # tour_data1_ch[(tour_data1_ch['cat3'] == '아쿠아리움/대형수족관')] = '???'   
# # tour_data1_ch[(tour_data1_ch['cat3'] == '유명관광지')] = '???'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '유명사찰')] = '사찰'   
# # tour_data1_ch[(tour_data1_ch['cat3'] == '일반관광지')] = '???'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '일반유원지/일반놀이공원')] = '유원지'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '지역사찰')] = '사찰'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '지역축제')] = '문화관광축제'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '지역호수/저수지')] = '호수'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '테마공원/대형놀이공원')] = '유원지'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '토속/특산물/기념품매장')] = '특산물판매점'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '파라다이스카지노')] = '카지노'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '폭포/계곡')] = '계곡'   
# tour_data1_ch[(tour_data1_ch['cat3'] == '휴양림/수목원')] = '자연휴양림'

In [75]:
tour_data1_ch

       Spot_pk contenttypeid          cat3           title   code
0            1           관광지          지역사찰           호국전진사  31200
1            2           관광지  토속/특산물/기념품매장         상주옹기판매장  37080
2            3           관광지         일반관광지          추월산관광지  36310
3            4           관광지  토속/특산물/기념품매장            쇄기농장  39020
4            5           관광지          지역사찰             보타사  32010
...        ...           ...           ...             ...    ...
37208    37209           관광지          지역축제     안성팜랜드초원눈썰매장  31220
37209    37210           관광지          지역축제      내장산단풍겨울빛축제  35360
37210    37211           관광지         일반관광지          오대산선재길  32340
37211    37212           관광지      먹거리/패션거리    덕유산국립공원시인의거리  35330
37212    37213           관광지   테마공원/대형놀이공원  의왕자연학습공원의왕레일파크  31170

[37213 rows x 5 columns]

In [25]:
tour_data2

,areacode,cat1,cat2,cat3,contentid,contenttypeid,mapx,mapy,readcount,title,addr1,code,Spot_pk
0,32,A01,A0101,A01010600,125266,12,128.291911,37.522514,92300,국립 청태산자연휴양림,강원도 횡성군 둔내면 청태산로 610,32320,37214
1,35,A01,A0101,A01010600,125405,12,129.365504,35.761958,142970,토함산자연휴양림,경상북도 경주시 양북면 불국로 1208-45,37020,37215
2,4,A01,A0101,A01010600,125406,12,128.515977,35.691380,168397,비슬산자연휴양림,대구광역시 달성군 유가읍 일연선사길 61,22310,37216
3,35,A01,A0101,A01010600,125407,12,128.134266,36.618826,130206,불정자연휴양림,경상북도 문경시 불정길 180,37090,37217
4,35,A01,A0101,A01010600,125408,12,129.053721,36.317919,86622,청송 자연휴양림 퇴적암층 (청송 국가지질공원),경상북도 청송군 부남면 청송로 3478-96,37330,37218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25295,33,A05,A0502,A05020100,2741113,39,127.479590,36.663251,0,풍차쭈꾸미,충청북도 청주시 청원구 율천북로 75,33040,62509
25296,39,A05,A0502,A05020900,2741116,39,126.921204,33.436835,0,어반정글,제주특별자치도 서귀포시 성산읍 신고로22번길 39,39020,62510
25297,1,A02,A0202,A02020700,2741117,12,127.021482,37.543333,0,달맞이봉공원,서울특별시 성동구 금호동4가 산 27,11040,62511
25298,33,A05,A0502,A05020900,2741121,39,128.048101,36.924015,0,게으른악어,충청북도 충주시 살미면 월악로 927,33020,62512
25299,1,A02,A0207,A02070200,2741123,15,126.895045,37.570400,0,오픈미디어아트페스티벌 - 디지털 아우라,서울특별시 마포구 증산로 87,11140,62513

In [76]:
tour_data2_ch = pd.DataFrame()

In [77]:
tour_data2_ch['Spot_pk'] = tour_data2['Spot_pk']
tour_data2_ch['contenttypeid'] = tour_data2['contenttypeid']
tour_data2_ch['cat1'] = tour_data2['cat1']
tour_data2_ch['cat2'] = tour_data2['cat2']
tour_data2_ch['cat3'] = tour_data2['cat3']
tour_data2_ch['title'] = tour_data2['title']
tour_data2_ch['code'] = tour_data2['code']

In [78]:
tour_data2_ch

,Spot_pk,contenttypeid,cat1,cat2,cat3,title,code
0,37214,12,A01,A0101,A01010600,국립 청태산자연휴양림,32320
1,37215,12,A01,A0101,A01010600,토함산자연휴양림,37020
2,37216,12,A01,A0101,A01010600,비슬산자연휴양림,22310
3,37217,12,A01,A0101,A01010600,불정자연휴양림,37090
4,37218,12,A01,A0101,A01010600,청송 자연휴양림 퇴적암층 (청송 국가지질공원),37330
...,...,...,...,...,...,...,...
25295,62509,39,A05,A0502,A05020100,풍차쭈꾸미,33040
25296,62510,39,A05,A0502,A05020900,어반정글,39020
25297,62511,12,A02,A0202,A02020700,달맞이봉공원,11040
25298,62512,39,A05,A0502,A05020900,게으른악어,33020
25299,62513,15,A02,A0207,A02070200,오픈미디어아트페스티벌 - 디지털 아우라,11140

In [79]:
type_data

    contenttypeid cat1   cat2       cat3 대분류    중분류      소분류
0             관광지  A01  A0101  A01010100  자연  자연관광지     국립공원
1             관광지  A01  A0101  A01010200  자연  자연관광지     도립공원
2             관광지  A01  A0101  A01010300  자연  자연관광지     군립공원
3             관광지  A01  A0101  A01010400  자연  자연관광지        산
4             관광지  A01  A0101  A01010500  자연  자연관광지  자연생태관광지
..            ...  ...    ...        ...  ..    ...      ...
169            음식  A05  A0502  A05020600  음식    음식점  패밀리레스토랑
170            음식  A05  A0502  A05020700  음식    음식점    이색음식점
171            음식  A05  A0502  A05020800  음식    음식점    채식전문점
172            음식  A05  A0502  A05020900  음식    음식점     바/까페
173            음식  A05  A0502  A05021000  음식    음식점       클럽

[174 rows x 7 columns]

In [ ]:
# tour_data1_ch 을  type_data로 cat3에 맞춰 앞에 넣기